pkgbase = packager-git
	pkgdesc = Turn a local .deb or .rpm into a pacman package
	pkgver = 0.1.0.r37.geedf959
	pkgrel = 1
	url = https://github.com/barscn/packager
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = pkgfile
	depends = binutils
	depends = libarchive
	provides = packager
	conflicts = packager
	options = !lto
	source = packager-git::git+https://github.com/barscn/packager.git
	sha256sums = SKIP

pkgname = packager-git
